<html>
    <header>
        <title>Data Dictionary Manager</title>
    </header>
    <body>
        <h2>{{project_name}}</h2>
        {% if data_entries %}
        <ul>
            {% for entry in data_entries %}
            <li><a href="/ddm/project/{{entry.id}}/">{{entry.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No entries to show</p>
        {% endif %}
        <form action="/ddm/data_entry" method="POST">
            {% csrf_token %}
            <input type="text" name="description" placeholder="Description"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
